body {
    background-color: #FFF;
    color: #595F6E;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 24px;
}

.game {
    width: 1020px;
}

.letter {
    width: 100%;    
    padding: 1em 0 0.6em 0;
    text-align: center;
    font-size: 4em;
    cursor: pointer;
     -webkit-transition: color 1s;
    transition: color 1s;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version - Chrome and Opera */
}

.answers {
    width: 100%;
    display: flex;
}

.message {
    text-align: center;
    font-size: .7em;
    opacity: 0.6;
    margin-top: 10px;
}

.message.hidden {
    display: none;
}

.sad {
    color: hsl(0, 80%, 60%);
}

.happy {
    color: hsl(120, 60%, 60%);
}

.message {
  animation: messagePopup 0.6s forwards;
}