body {
    background-color: #FFF;
    color: #595F6E;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 24px;
}

.game {
    width: 1020px;
}

.letter {
    width: 100%;    
    padding: 1em 0 0.6em 0;
    text-align: center;
    font-size: 4em;
    cursor: pointer;
}

.answers {
    width: 100%;
}
